<%= setup_context(:object => @operation) %>

<%= form_for @operation, :as => "operation", :url => {:action => :create}, :html => {:class => 'form-horizontal aspace-record-form', :id => "operation_form"} do |f| %>

  <%= form_context :operation, @operation do |form| %>
    <div class="row">
      <div class="col-md-3">
        <%= render_aspace_partial :partial => "sidebar" %>
      </div>
      <div class="col-md-9">
        <%= render_aspace_partial :partial => "shared/toolbar_new_records" %>
        <div class="record-pane">
          <%= link_to_help :topic => "operation" %>
          <h2><%= I18n.t("actions.new_prefix") %> <%= I18n.t("operation._singular") %> <span class="label label-info"><%= I18n.t("operation._singular") %></span></h2>
          <%= render_aspace_partial :partial => "operations/form", :locals => {:form => form} %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
